// 
// Global theme styling
// 

// Scroll padding for all scroll targets on page used with
// native CSS smooth scrolling
// 
// https://caniuse.com/?search=scroll-padding
@use "sass:map";

html {
    scroll-padding-top: calc(4.5rem - 1px);
}

body {
    letter-spacing: $base-letter-spacing;
}


$xs-breakpoint: map.get($grid-breakpoints, xs);
$sm-breakpoint: map.get($grid-breakpoints, sm);
$md-breakpoint: map.get($grid-breakpoints, md);
$lg-breakpoint: map.get($grid-breakpoints, lg);
$xl-breakpoint: map.get($grid-breakpoints, xl);
$xxl-breakpoint: map.get($grid-breakpoints, xxl);
