{% macro logo(theme) %}
    <span class="datasophos {{theme}}">
        <span class="thin">data</span><span class="thick">sophos</span>
    </span>
{% endmacro input %}

{% macro modal(id, title, content) %}
<div class="modal fade" tabindex="-1" id="{{id}}" >
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{{title | safe}}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                {{content | safe}}
            </div>
        </div>
    </div>
</div>
{% endmacro input %}

