// 
// About
// 

.about-section {
    padding-top: 10rem;
    padding-bottom: 20rem;
    margin-top: -2rem;
    font-size: 100%;
    // letter-spacing: normal;
    background: linear-gradient(to bottom,
        $black 0%,
        #{fade-out($black, 0.1)} 75%,
        #{fade-out($black, 0.3)} 100%),
        url("../assets/img/data_image.webp");
    background-size: cover;

    p {
        margin-bottom: 2.5rem;
    }

    .btn > .datasophos {
        text-transform: none;
        letter-spacing: 0.1rem;
        font-size: larger;
    }

    .modal {
        * {
            transition: none;
        }

        .portrait {
            border-color: $blue;
            border-width: 2px;
            border-style: solid;
            margin: 0 auto;
            border-radius: 50%;
            object-fit: cover;
        }

        .modal-body {
            text-align: left;
        }

        .img-col {
            text-align: center;

            img {
                max-height: 20rem;
            }
        }
    }
}