// Animated background
@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
  
#gradient:before {
    content: "";
    --size: 80vw;
    --speed: 10s;
    --easing: cubic-bezier(0.0, 0.2, 0.8, 0.8);

    width: var(--size);
    height: 70vh;
    filter: blur(calc(var(--size) / 5));
    background-image: linear-gradient(rgba($light-teal, .9), rgba($white, 0.9));
    animation: rotate var(--speed) var(--easing) alternate infinite;
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;

    // @media (min-width: $xs-breakpoint) {
    //     --size: 400px;
    // }
    // @media (min-width: $sm-breakpoint) {
    //     --size: #{$sm-breakpoint};
    // }
    // @media (min-width: $md-breakpoint) {
    //     --size: #{$md-breakpoint};
    // }
}

#gradient.hidden:before {
    opacity: 0%;
    transition: all 0.5s ease-out;
}

#gradient > * {
    animation: none;
    filter: none;
}

#mastheadContent {
    position: absolute;

    @media (min-width: $xs-breakpoint) {
        margin-top: 0px;
    }
    @media (min-width: $md-breakpoint) {
        margin-top: 0px;
    }
    @media (min-width: $lg-breakpoint) {
        margin-top: 250px;
    }

    h1 {
        letter-spacing: normal;
        color: $blue;

        .thin {
            font-weight: 300;
            color: black;
        }
        .thick {
            font-weight: bold;
        }
    }

    h2 {
        color: $teal;
    }
}
  
// $layout-breakpoint-small: 960px;

// @media (min-width: $layout-breakpoint-small) {
//     .gradient {
//         --size: $layout-breakpoint-small;
//     }
// }
// @media (min-width: $md-breakpoint) {
//     .gradient {
//         --size: $md-breakpoint;
//     }
// }
  
/* This is just to transition when you change the viewport size. */
* {
    transition: all 0.5s ease-out;
}
  

// 
// Masthead
// 

.masthead {
    position: relative;
    width: 100%;
    height: auto;
    min-height: 35rem;
    padding-left: 0;
    padding-right: 0;
    padding-top: 15rem;
    padding-bottom: 6rem;
    margin-bottom: 0.5rem;
    background: linear-gradient(to bottom,
        #{fade-out($black, 0.7)} 0%,
        #{fade-out($black, 0.3)} 75%,
        $black 100%),
    url("../assets/img/bg-masthead.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: auto;

    h1 {
        font-family: $font-family-special;
        font-size: 4rem;
        line-height: 4rem;
        letter-spacing: normal;
        max-width: 90vw;
        // -webkit-text-fill-color: $white;
        // color: $white;
    }

    h2 {
        max-width: 20rem;
        font-size: 1.5rem;
    }

    h3 {
        max-width: 70vw;
        font-size: 1.25rem;
    }

    @include media-breakpoint-up(sm) {
        h1 {
            font-size: 4rem;
            line-height: 4rem;
        }

        h2 {
            max-width: 80vw;
            font-size: 1.25rem;
            line-height: 1.25rem;
        }
        h3 {
            font-size: 1rem;
            line-height: 1rem;
        }
    }

    @include media-breakpoint-up(md) {
        h1 {
            font-size: 5rem;
            line-height: 5rem;
        }

        h2 {
            max-width: 80vw;
            font-size: 1.75rem;
            line-height: 1.75rem;
        }
        h3 {
            font-size: 1.25rem;
            line-height: 1.25rem;
        }
    }

    @include media-breakpoint-up(lg) {
        height: 100vh;
        padding: 0;

        h1 {
            font-size: 6.5rem;
            line-height: 6.5rem;
            letter-spacing: 0.8rem;
        }

        h2 {
            max-width: 80vw;
            font-size: 2.5rem;
            line-height: 2.5rem;
        }

        h3 {
            font-size: 1.5rem;
            line-height: 1.5rem;
        }
    }
}