// 
// Services
// 

.services-section {
    padding: 5rem 0;
    letter-spacing: normal;

    h5 {
        .fa-solid,
        .fa-brands,
        .fa-sharp-solid,
        .svg-inline--fa {
            margin-right: .5em;
        }
    }

    .intro-text {
        font-size: 110%;
    }

    .featured-text {
        padding: 2rem;

        @include media-breakpoint-up(lg) {
            padding: 0 0 0 2rem;
            border-left: 0.5rem solid $primary;
        }
    }

    .service-text {
        padding: 3rem;
        font-size: 90%;

        @include media-breakpoint-up(lg) {
            padding: 5rem;
        }
    }

    .card button {
        letter-spacing: .05rem;
        padding: 0.5rem 1rem;
        margin-top: $spacer;
        background-color: $gray-200 !important;

        background: linear-gradient($primary 0 0) calc(100% - var(--p, 0%)) / var(--p,0%) no-repeat;
        transition: .4s,background-position 0s;

        // text-transform: none;
        &:hover, &:active {
            color: $white;
            --p: 100%;
        }
    }
}