{% extends "index.html" %}
{% block masthead %}
{% endblock masthead %}
{% block about_title %}404 Not Found{% endblock about_title %}
{% block about_description %}
The page you are looking for was not found or no longer exists.
<section class="section">
    <div class="container px-4 px-lg-5 d-flex h-100 align-items-center justify-content-center">
        <div class="d-flex justify-content-center">
            <div class="text-center">
                <a class="btn btn-primary" href="/" id="goHome">Go to homepage</a>
            </div>
        </div>
    </div>
</section>
{% endblock about_description %}
{% block about_image %}{% endblock about_image %}
{% block projects %}{% endblock projects %}
{% block signup %}{% endblock signup %}


<!-- remove social icons -->
{% block contact_social %}
{% endblock contact_social %}