{% extends "index.html" %}

{% block extra_head %}
{% endblock extra_head %}

{% block navigation %}
  {% include "navigation.html" %}
{% endblock navigation %}

{% block masthead %}
  {% include "masthead.html" %}
{% endblock masthead %}

{% block about %}
  {% include "about.html" %}
{% endblock about %}

{% block services %}
  {% include "services.html" %}
{% endblock services %}


<!-- make contact a single (centered) column for proton email address -->
{% block contact_contact %}
<div class="row gx-4 gx-lg-5 mt-n7">
{% for item in contact.contact %}
<div class="col-md-4 mb-3 mb-md-0 offset-md-4">
    <div class="card py-4 h-100">
        <div class="card-body text-center">
            <i class="fas {{ item.icon }} text-primary mb-2"></i>
            <h4 class="text-uppercase m-0">{{ item.name }}</h4>
            <hr class="my-4 mx-auto" />
            <div class="small text-black-50">{{ item.address|safe }}</div>
        </div>
    </div>
</div>
{% endfor %}
</div>
{% endblock contact_contact %}
{% block contact_social %}
<div class="social d-flex justify-content-center">
    {% for item in contact.social %}
    <a target="_blank" class="mx-2" href="{{ item.url | safe }}"><i class="fa-brands {{ item.icon }} fa-xl" aria-hidden="true"></i></a>
    {% endfor %}
</div>
{% endblock contact_social %}

{% block extra_footer %}
<div><a target="_blank" href="https://commons.wikimedia.org/w/index.php?curid=3267545">Photo credit</a></div>
{% endblock extra_footer %}